
div h2 {
    color: rgb(148, 63, 63);
}

div ul li{
    height: 30px;
    border-radius: 10px;
}

div ul li {
    background-color: bisque;
    list-style-type: none;
    padding: 5px;
    margin-top: 4px; 
}

.selected {
    color: rgb(197, 132, 124);
}